# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Environment Variables
.env

# Operating System
Thumbs.db
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Trained models
models/*.pkl